vrrp_script chk_haproxy {
    script "killall -0 haproxy"
    interval 2
    weight 2
}

vrrp_instance VI_1 {
    interface {{ interface }}
    state {{ keepalived_state }}

    virtual_router_id {{ vrrp_id }}
    priority {{ keepalived_priority }}

    virtual_ipaddress {
        {{ virtual_ip }}/24
    }

    track_script {
        chk_haproxy
    }
}